.main-reset-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 300px;
}

.reset-fields{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    width: 70%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
}

input{
    padding: 10px;
    margin-bottom: 10px;
}

input:focus{
    outline: none;
}

.iemail{
    width: 94%;
}

.ipassword{
    width: 94%;
}

.reset-submit-btn{
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .reset-container{
        width: 100%;
    }
}